{% extends 'navbar.html' %}

{% block css_block %}
{% endblock  %}

{% block body_block %}

<div class="container">
<hr>
  <h2 align="center" style="color:blue"> Leader Board</h2><hr>
              
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Position</th>
        <th>Username</th>
        <th>Uva Ranking</th>
        <th>HackerRank Ranking</th>
        <th>Codeforces Ranking</th>
      </tr>
    </thead>
    <tbody class="table-success" style="font-size:20px">
      <tr>
        <td>1</td>
        <td>Al-Amin</td>
        <td>142373</td>
        <td>34212</td>
        <td>13546</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jhon_Snow</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Tyren_lanny</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mahdi_jewel</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Reff_barron</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Marry_ya</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Jane Doe</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
        <tr>
        <td>8</td>
        <td>Jane Doe</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
        <tr>
        <td>9</td>
        <td>Jane Doe</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
        <tr>
        <td>10</td>
        <td>Jane Doe</td>
        <td>131423</td>
        <td>238173</td>
        <td>112345</td>
      </tr>
    </tbody>
  </table>
</div>

</body>

{% endblock  %}